.git
.github
node_modules
**/node_modules
data
output
scripts
# docs
*.md
docker-compose.yml
Dockerfile
.dockerignore
webapp/.vscode
webapp/doc
webapp/.env*
!webapp/.env.production
web
webapp/dist
webapp/node_modules
.vscode
.idea
*.log
