services:
  bingpaper:
    build:
      context: .
      args:
        - GOPROXY=${GOPROXY:-https://proxy.golang.org,direct}
        - NPM_REGISTRY=${NPM_REGISTRY:-https://registry.npmjs.org/}
    container_name: bingpaper
    restart: always
    ports:
      - "${HOST_PORT:-8080}:${BINGPAPER_SERVER_PORT:-8080}"
    volumes:
      - ./data:/app/data
    environment:
      - TZ=${TZ:-Asia/Shanghai}
      - BINGPAPER_SERVER_PORT=${BINGPAPER_SERVER_PORT:-8080}
      - BINGPAPER_LOG_LEVEL=${BINGPAPER_LOG_LEVEL:-info}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - ALL_PROXY=${ALL_PROXY}
      - NO_PROXY=${NO_PROXY}