name: Verify

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: CGO_ENABLED=0 go build -v ./...

      - name: Test
        run: CGO_ENABLED=0 go test -v ./...
